<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="border: solid 1px">
        <a href="/book_code/B05196_Ch06_Code/books">Books</a>
        <a href="/book_code/B05196_Ch06_Code/sales">My Sales</a>
        <a href="/book_code/B05196_Ch06_Code/my-books">My Books</a>
        <hr>
        <form action="/book_code/B05196_Ch06_Code/books/search" method="get">
            <label>Title</label>
            <input type="text" name="title">
            <label>Author</label>
            <input type="text" name="author">
            <input type="submit" value="Search">
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>